DATABASE_URL=postgresql://postgres@localhost:5432/tradejournal
JWT_SECRET=y2EACc1T1zO8AB7W3IlGIEkLctJMIgtTOo6SRwvjK94
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=10080
CORS_ORIGINS=http://localhost:3000
ENVIRONMENT=development
